<router-outlet></router-outlet>

<div class="row">
  <div class="col-md-12">
    <h1>
      {{title}}
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <label for="first_name">First name</label>
        <input type="text" #newitem  class="form-control" id="first_name" placeholder="first name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default" (click)="addItem(newitem.value)">Add</button>
    </form>
  </div>
  <hr>
</div>



<div class="row" *ngFor="let item of items | async">


  <div class="col-md-6">
    <pre>{{ item | json }}</pre>
  </div>

  <div class="col-md-6">
    <input type="text" #updatetext [value]="item.last_name" />
    <button (click)="updateItem(item.$key, updatetext.value)">Update</button>
  </div>

  <hr>



</div>