.header-14 .navbar-top {
	background: #383838;
	border-bottom: none;
	line-height: 52px;
	max-height: 50px;
	overflow: hidden;
}
.top-menu {
	display: inline-block;
}
.top-menu a {
	color: #737373;
	font-family: 'Roboto';
	font-size: 13px;
	padding-right: 15px;
	text-transform: uppercase;
}
.header.header-14 .menu-social {
	line-height: inherit;
}
.header.header-14 .menu-social a {
	color: #737373;
}
.header.header-14 .menu-social .icon {
	font-size: 15px;
}
.header.header-14 .right-box {
	display: inline-block;
}
.header.header-14 .header-middle {
	border-bottom: 1px solid #f3f3f3;
	padding: 30px 0;
}
.header.header-14 .header-middle .navbar-brand {
	max-width: 100px;
	padding: 5px 0 0 !important;
}
.header.header-14 .navbar-nav>li>a,
.header.header-14 .search-box,
.header.header-14 .shop-cart,
.header.header-14 .top-right {
	line-height: 75px !important;
}
.header.header-14 .navbar-nav>li:first-child>a {
	padding-left: 0 !important;
}
.header.header-14 .menu-item-has-children:hover>ul.sub-menu {
	top: 78px;
}
.header.header-14 .sub-menu:hover .sub-menu {
	top: 0 !important;
}
.header.header-14 .top-right a {
	margin-left: 20px;
}