.header.header-02,
.header.header-02 .sub-menu,
.header.header-02 .sub-menu.mega-menu .row {
	background: #f7f7f7;
}
.header.header-02 .sub-menu .menu-item-has-children:before {
	color: #000;
}
.header.header-02 .sub-menu a {
	color: #000;
}
.header.header-02 .sub-menu a:hover,
.header.header-02 .sub-menu .menu-item-has-children:hover:before {
	color: #fff;
}
.header.header-02 .menu-list a:hover {
	color: #262626 !important;
}
.header.header-02 .cart-items {
	background: #f7f7f7;
}