.header.header-10 .navbar-top {
	line-height: 100px;
}
.header.header-10 .navbar-brand {
	float: none;
}
.header.header-10 .top-left .icon {
	background: #f3f3f3;
	height: 25px;
	line-height: 28px;
	text-align: center;
	width: 25px;
}
.header.header-10 .navbar-nav>li>a,
.header.header-10 .search-box,
.header.header-10 .shop-cart {
	line-height: 75px !important;
}
.header.header-10 .menu-item-has-children:hover>ul.sub-menu {
	top: 77px;
}
.header.header-10 .menu-item-has-children>ul.sub-menu:hover .sub-menu {
	top: 0;
}
.header.header-10 .right-box,
.header.header-10 .navbar-brand img {
	display: inline-block;
}
.header.header-10 .top-right {
	display: inline-block;
	line-height: 75px;
}
.header.header-10 .top-right a {
	margin-left: 25px;
	padding: 0;
}
